    <br>
    <img id="main-admin-header-image" src="/img/big_logo.png"/>
    <br>
    <br>
        <div id="registrationForm" class="form-group">
            <form id="admin-signin" action="" method="post" role="form">
                <p style="color:<?=$data['color']?>"><?=$data['message']?></p>
                <p>Войти в личный кабинет</p>
                <input class="form-control" type="text" name="email" placeholder="Введите email"><br>
                <input class="form-control" type="password" name="password" placeholder="Введите пароль""><br>
                <input class="btn btn-success" type="submit" value="Войти">
            </form>
        </div>
    <br>
    <br>