
<div>
    <br><br><br>
    <p>Пользователь <?=$data['comments'][0]['user']?> <?=$data['comments'][0]['date']?> написал:</p>
    <textarea class="form-control" style="width: 500px; height: 200px" readonly ><?=$data['comments'][0]['text']?></textarea>


    <form method="post" action="/admin/comments/reply" role="form">
        <div class="form-group">
            <label>Ваш комментарий:</label>
            <textarea name="text" class="form-control" style="width: 100%" placeholder="введите текст..."></textarea><br>
        </div>
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="Добавить комментарий">
        </div>
        <input hidden name="id_news" type="text" value="<?=$data['comments'][0]['id_news']?>">
        <input hidden name="id_user" type="text" value="<?=Session::get('id')?>">
        <input hidden name="parent_id" type="text" value="<?=$data['comments'][0]['id']?>">
    </form>
</div>