
    <div class="coll-md-12">
    <p>
        <h2>Новости</h2>
        <a href="/admin/news/add" class="nav btn btn-success button-primary button-240">
            Добавить новость
        </a>
    </p>
    </div>
    <table  class="table table-striped table-center">
        <tr>
            <td>id</td>
            <td>категория</td>
            <td>дата</td>
            <td>заголовок</td>
            <!--<td>контент</td>-->
            <td>просмотры</td>
            <td>тэги</td>
            <td>аналит</td>
            <td>опубл</td>
            <td>действие</td>
        </tr>
        <?php foreach ($data['page'] as $value):?>
        <tr>
            <td><?=$value['id']?></td>
            <td>
                <!--<?=$value['id_categories']?> - -->
                <?php foreach($data['categories'] as $cat):?>
                    <?php if($cat['id'] == $value['id_categories']):?>
                        <?=$cat['name']?>
                    <?php endif;?>
                <?php endforeach; ?>
            </td>
            <td><?=$value['date']?></td>
            <td><?=$value['title']?></td>
            <!--<td><?=$value['content']?></td>-->
            <td><?=$value['show_counter']?></td>
            <td><?=$value['tags']?></td>
            <td>
                <input disabled type="checkbox" <?=($value['analitycs'])? "checked" : "" ?>>
            </td>

            <td>
                <input disabled type="checkbox" <?=($value['is_published'])? "checked" : "" ?>>
            </td>

            <td>
                <a href="/admin/news/edit/<?=$value['id']?>"><button class="btn button-120 btn-primary">Редактировать</button></a><br><br>
                <a href="/admin/news/delete/<?=$value['id']?>" onclick="return confirm('Вы точно хотите удалить категорию. Это действие удалит ее безвозвратно');"><button class="btn button-120 btn-danger">Удалить</button></a>
            </td>

        </tr>
        <?php endforeach;?>
    </table>
